__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.git/
.gitignore
.dockerignore
README.md
*.log
.coverage
.pytest_cache/
.vscode/
.idea/
.DS_Store
docker-compose.yml
docker-compose.*.yml
.env
.gitlab-ci.yml
.github/
.vscode/