name: CI/CD KubSU FastAPI App with Podman and GHCR

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-push:
    runs-on: self-hosted
    outputs:
      sha: ${{ steps.set-sha.outputs.sha }}
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set image SHA
        id: set-sha
        run: echo "::set-output name=sha::${GITHUB_SHA}"
      
      - name: Log in to GHCR
        run: |
          echo "7de99c5f" | podman login ghcr.io -u "${{ github.actor }}" --password-stdin
      
      - name: Build and push test image
        run: |
          IMAGE_TEST=ghcr.io/${{ github.repository }}/kubsu-app:test-${{ github.sha }}
          podman build --target test -t $IMAGE_TEST .
          podman push $IMAGE_TEST
      
      - name: Build and push runtime image
        run: |
          IMAGE_RUNTIME=ghcr.io/${{ github.repository }}/kubsu-app:runtime-${{ github.sha }}
          podman build --target runtime -t $IMAGE_RUNTIME .
          podman push $IMAGE_RUNTIME

  test:
    runs-on: self-hosted
    needs: build-and-push
    
    steps:
      - name: Run tests locally
        run: |
          set -e
          IMAGE_TEST=ghcr.io/${{ github.repository }}/kubsu-app:test-${{ github.sha }}
          podman login ghcr.io -u "${{ github.actor }}" -p "7de99c5f"
          podman run --rm --name kubsu-app-test --network host $IMAGE_TEST python -m pytest -v tests
          podman rmi $IMAGE_TEST || true

  deploy:
    runs-on: self-hosted
    needs: test
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    
    steps:
      - name: Deploy runtime image locally
        run: |
          set -e

          IMAGE_RUNTIME=ghcr.io/${{ github.repository }}/kubsu-app:runtime-${{ github.sha }}

          podman login ghcr.io -u "${{ github.actor }}" -p "7de99c5f"

          podman stop kubsu-app || true
          podman rm -f kubsu-app || true

          podman run --replace -d --name kubsu-app --network host -p ${{ secrets.APP_PORT }}:8112 $IMAGE_RUNTIME

          podman images --format "{{.Repository}}:{{.Tag}}" \
            | grep 'kubsu-app:runtime-' \
            | grep -v "${{ github.sha }}" \
            | xargs -r podman rmi -f || true
